metrics.local.lan {
    tls internal
    log {
        output file /var/log/caddy/ctrl_access.log
        format single_field common_log
    }
    reverse_proxy grafana:3000
}


influx.local.lan {
    tls internal
    log {
        output file /var/log/caddy/ctrl_access.log
        format single_field common_log
    }
    reverse_proxy influxdb:8086
}
